<div class="page-width">
 <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, commodi.</h1>
</div>


{%  schema  %}
 {
  "name": "Hero Banner",
  "class": "hero_banner",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Wij houden van fietsen"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Ultiem fietsplezier door middel van optimale service, kwaliteit en vakmanschap. Dat staat bij ons voorop!"
    },
    {
      "type": "header",
      "content": "Feature"
    },
    {
      "type": "image_picker",
      "id": "icon_01",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "feature_01",
      "label": "Feture Text",
      "default": "Plan een advies gesprek"
    },
    {
      "type": "image_picker",
      "id": "icon_02",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "feature_02",
      "label": "Feture Text",
      "default": "Plan een service gesprek"
    },
    {
      "type": "header",
      "content": "Search content"
    },
    {
      "type": "text",
      "label": "Search Placeholder",
      "id": "placeholder",
      "default": "Plan een service gesprek"
    },
    {
      "type": "text",
      "id": "search_btn_tex",
      "label": "Search Button Text",
      "default": "ZOEKEN"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
 }
{% endschema %}